body{
	margin: 0px;
	background-color: lightblue;
}
div{
	width: 500px;
	height: 500px;
	margin: 50px;
	background-color: white;
	/*animation-name: expand;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;*/
	transition:1s ease-in-out;
}
div:hover{
	/*animation-play-state: paused;*/
	transform: scale(.8) rotate(45deg); 
	background-color: orange;
}
@keyframes expand{
	0%{
	width: 200px; 
	}
	50%{
		width: 600px;
	}
	100%{
		width: 300px;
	}
}